<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="worker_home_css.css">
    <title>考勤系统</title>
</head>
<body>
    <div class="container">
        <div class="button-container">
            <a href="sign.html">
            <button class="button sign-button">签到签退</button>
            </a>
            <a href="leave.html">
            <button class="button leave-button">请假</button>
            </a>
            <a href="away.html">
            <button class="button away-button">出差</button>
            </a>
        </div>
    </div>

    <div id="datetime-container">
        <p id="datetime"></p>
    </div>

    <div class="button-container_circle">
            <a href="departmentinfo.html">
            <div class="circle-button">部门信息</div>
            </a>
            <a href="workerinfo.html">
            <div class="circle-button">个人信息</div>
            </a>
            <a href="kaoqin.html">
            <div class="circle-button">退出登录</div>
            </a>
    </div>
    <script src="work_home_js.js"></script>
</body>
</html>
